# configuration Widget File

<Account Information>
   Username {{ user }}
   Password {{ password }}	
</Account Information>

<System Information>
 Distribution Type {{ ansible_os_family }}
</System Information>


